@charset "UTF-8";

//时光机和标签库公用的分类盒子样式
.cataBox {
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  &::after {
    /*content: '';*/
    border-top: 4px solid $base-theme-color;
    position: absolute;
    top: 0;
    right: 0;
    border-top-right-radius: 3px;
    width: 40%;
    height: 0;
  }
  .cataBox__title {
    padding: 8px 10px 4px 43px;
    color: #fff;
    margin: 0;
    text-align: right;
    background: $base-background-color;
    position: relative;
    @include display-flex;
    @include justify-content(flex-end);
    @include align-items(center);
    .main {
      font-size: 50px;
      z-index: 1;
      margin-right: 10px;
    }
    .tag {
      //z-index:1;
      //font-size: 20px;
      //color: $base-theme-color;

      font-size: 20px;
      background: $base-theme-color;
      color: #fff;
      border-radius: 5px;
      padding: 3px 6px;
      position: relative;
      font-weight: 400;
      vertical-align: baseline;
      top: 2px;
    }
  }
  .cataBox__content {
    width: 100%;
    background-color: #fff;
    /*margin-bottom: 10px;*/
    padding: 15px 0;

    .itemBox {
      @include display-flex;
      @include justify-content(flex-start);
      @include align-items(center);
      margin: 0 0 15px 0;
      padding: 26px 10px;
      border: 1px solid transparent;
      //padding-left: 85px;
      &:nth-child(n) {
        background-color: #fff;
      }
      &:nth-child(2n) {
        background-color: #f5f5f5;
      }

      .itemBox__name {
        width: 170px;
        height: 100%;
        text-align: right;
        p {
          color: $base-word-color;
          text-shadow: 1px 1px 0px #ffffff;
          font-size: 24px;
          font-weight: 500;
          line-height: 1.2;
          padding-right:20px;
          margin:0;
        }

      }
      .itemBox__content{
        margin:0;
      }
      //这部分会个性化定制
      //.itemBox__content {
      //  flex: 1;
      //  padding-left: 32px;
      //  height: 100%;
      //  border-left: 1px solid #ddd;
      //  list-style: square;
      //  .itemBox__content__item {
      //    height: 28px;
      //    line-height: 28px;
      //    font-size: 16px;
      //    color: $base-word-color;
      //    cursor: pointer;
      //    list-style-type: square;
      //    //overflow: hidden;
      //    //@include display-flex;
      //    //@include justify-content(flex-start);
      //    //@include align-items(flex-start);
      //    vertical-align: middle;
      //    .itemBox__content__item-title {
      //      white-space: nowrap;
      //      overflow: hidden;
      //      text-overflow: ellipsis;
      //
      //    }
      //    span {
      //      vertical-align: middle;
      //      display: inline-block;
      //      max-width: 360px;
      //    }
      //    &:hover {
      //      color: $base-theme-color;
      //    }
      //
      //  }
      //}
    }

  }

}