/**
 * Utility Classes
 * --------------------------------------------------
 */

.hide {
  display: none;
}

.opacity-hide {
  opacity: 0;
}

.grade-b .opacity-hide,
.grade-c .opacity-hide {
  opacity: 1;
  display: none;
}

.show {
  display: block;
}

.opacity-show {
  opacity: 1;
}

.invisible {
  visibility: hidden;
}

.keyboard-open .hide-on-keyboard-open {
  display: none;
}

.keyboard-open .tabs.hide-on-keyboard-open + .pane .has-tabs,
.keyboard-open .bar-footer.hide-on-keyboard-open + .pane .has-footer {
  bottom: 0;
}

.inline {
  display: inline-block;
}

.disable-pointer-events {
  pointer-events: none;
}

.enable-pointer-events {
  pointer-events: auto;
}

.no-resize {
  resize: none;
}

.block {
  display: block;
  clear: both;
  &:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
  }
}
//-----------------------------
// 文字对其方式
//-----------------------------
.pull-left{
  float: left;
}
.pull-right{
  float:right;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.center-block{
  display: block!important;
  margin-right: auto;
  margin-left: auto;
}

//-----------------------------
// 动画类(from animate.css)
//-----------------------------
//文章列表,时光机,标签库之间的专场切换
.blogTrans-transition {
  transition: transform .5s ease,opacity .5s ease;
  opacity:1;
  position: relative;
}
.blogTrans-enter{
  opacity:0;
  position: absolute;
  transform: translate(10%,0);
  left:50%;
  margin-left: -390px !important;
  z-index:999;
}
.blogTrans-leave {
  opacity:0;
  transform: translate(-10%,0);
  position: absolute;
  left:50%;
  margin-left: -390px !important;
  z-index:0;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animated.fast {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

//fadeIn
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}


//-----------------------------
// 清除浮动
//-----------------------------
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

//-----------------------------
// 显示隐藏
//-----------------------------
.hidden{
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

// Hide visually and from screen readers, but maintain layout 
.invisible {
  visibility: hidden;
}

//-----------------------------
// 文字
//-----------------------------
.word-line {
  //display: block; //如果是块儿级元素可以不用加
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}


//-----------------------------
// 其他
//-----------------------------

.full-image {
  width: 100%;
}

.img-circle{
  border-radius: 50%;
}

.text-shadow{
  text-shadow: 0 3px 12px #000;
}


//全屏
.bigScreen {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}
.noPadding {
  padding: 0;
}
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/*overflow*/

.lockScreen{
  overflow: hidden!important;
}

.card-shadow{
  box-shadow: 0 2px 4px 0 rgba(34,36,38,.12),0 2px 10px 0 rgba(34,36,38,.08);
}


